$blue: #72d0eb;
$pink: #ffb3b3;
$pink-invert: #fff;
$family-serif: 'Merriweather', 'Georgia', serif;

$primary: $pink;
$primary-invert: $pink-invert;
$family-primary: $family-serif;

@import '~bulma/bulma';
@import '~leaflet/dist/leaflet.css';

#panel {
  z-index: 1000;
  position: absolute;
  bottom: 1%;
  right: 1%;
  padding: 10px;
  background-color: white;
}
